name: React Library Starter Kit CI

on:
  pull_request:
    branches: [master]

jobs:
  continuous-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile

      - name: Run Continuous Integration
        run: |
          yarn ci
